# Gradle
.gradle/
build/

# IntelliJ IDEA
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# 로그
*.log


4project_back/logs/
4project_back/src/main/resources/application.properties
4project_back/build.gradle
4project_back/src/main/java/back/config/WebConfig.java